extends ../layout/index
block slider 
    .slider 
        h1 Río de Janeiro 
        em aventura 

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non convallis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eu leo venenatis sapien rutrum laoreet ut ac dui. Praesent ullamcorper quam eu nisi pellentesque convallis. Aliquam aliquet pellentesque libero vel pharetra. Fusce sem leo, eleifend a placerat in, rhoncus vel risus. Nullam eleifend orci nec sapien vehicula commodo. Nam vulputate sit amet libero eu aliquam. 

                p Aliquam interdum hendrerit massa ut finibus. Praesent eu hendrerit ipsum. Vestibulum in risus quis lectus pretium mollis. Donec posuere lectus ac ullamcorper suscipit. In molestie felis dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut nisl in quam faucibus pellentesque non eget lorem. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        h2.text-center.mb-5 Próximos Viajes 
        include ../layout/partials/viajes
    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canadá
                        p.fecha 20 de Mayo 2024 - 28 de Mayo 2024
                        p.precio $2,500 USD

    .container 
        h2.text-center.my-5 Testimoniales 
        include ../layout/partials/testimoniales
            