extends ../layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid") 
            .col-md-7
                h1 #{pagina}
                blockquote Duis porta consectetur dapibus. In commodo urna id sapien dictum varius. Aliquam ultricies, nunc at blandit semper, leo sapien laoreet risus, non ultrices nisl urna id orci. 
                p Quisque vulputate urna nec imperdiet blandit. Sed vulputate consectetur ornare. Cras venenatis et erat nec malesuada. Sed a euismod orci. Nunc ligula erat, sollicitudin in ultricies non, tincidunt ac mauris. Sed non mauris nec arcu viverra maximus. In ut vestibulum massa. Mauris ut augue lorem. Etiam eu lacus cursus enim eleifend mollis. Proin urna orci, convallis eu odio in, eleifend tempor lorem. Nam fringilla ipsum a porta bibendum. Donec risus nibh, varius ac massa ac, venenatis semper nulla.
                p Etiam eu consequat metus. Donec vitae orci ut nisl ornare efficitur. Nam a nisi tincidunt, maximus enim nec, dictum dolor. Maecenas in dolor non magna porta tristique. Cras nec ex in lectus malesuada consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sed erat lectus. Vivamus nisi ligula, ullamcorper et risus ac, rutrum finibus dui.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Etiam eu consequat metus. Donec vitae orci ut nisl ornare efficitur.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Etiam eu consequat metus. Donec vitae orci ut nisl ornare efficitur.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio 
                    p Etiam eu consequat metus. Donec vitae orci ut nisl ornare efficitur.
